.navbar {
	position: fixed;
	z-index: 60;
	width: 100%;
	top: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	@include respond(tablet) {
		justify-content: start;
		padding-left: 2rem;
	}

	&__logo {
		width: 6rem;
	}

	&__list {
		display: flex;
		justify-content: center;
		transition: right 0.5s;

		@include respond(tablet) {
			flex-direction: column;
			position: absolute;
			top: 5rem;
			right: -21rem;
			height: calc(100vh - 5rem);
			background-color: #333;
			justify-content: start;
			padding: 2rem;
			border-radius: 0.5rem 0 0 0;
		}

		@include respond(smallest) {
			top: 6.5rem;
		}
	}

	&__link {
		font-size: 1.5rem;
		color: var(--color-white);
		width: 15rem;
		margin: 0 3rem;
		text-transform: uppercase;
		border: 0.1rem solid #fff;
		text-align: center;
		padding: 0.2rem 0;
		letter-spacing: 0.1rem;
		position: relative;
		overflow: hidden;

		@include respond(laptop) {
			margin: 0 1.5rem;
		}

		@include respond(tablet) {
			margin: 1rem;
		}
		&::before {
			content: '';
			position: absolute;
			width: 150%;
			height: 5rem;
			background-color: #d50000;
			left: -20%;
			transform: rotate(-40deg) translateX(-4rem);
			transform-origin: left bottom;
			opacity: 0.8;
			transition: left 0.3s;
		}

		&:hover::before {
			left: 110%;
		}
	}
}

.change .navbar__list {
	right: 0;
}
