.section-2 {
	z-index: 40;

	&-wrapper {
		height: 100%;
		width: 100%;
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
			url('/images/section-2-bg.jpg') center no-repeat;
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		@include respond(tablet) {
			flex-direction: column;
		}
	}
}

.sale {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include respond(tablet) {
		order: 1;
	}

	&__bag {
		opacity: 0.9;
		width: 45rem;

		@include respond(x-large) {
			width: 35rem;
		}

		@include respond(large) {
			width: 30rem;
		}

		@include respond(laptop) {
			width: 25rem;
		}
	}

	&__button {
		width: 20rem;
		height: 5rem;
		font-size: 2rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		background-color: transparent;
		color: var(--color-white);
		margin-top: 4rem;
		border: 0.1rem solid var(--color-white);
		transition: background-color 0.2s;

		@include respond(laptop) {
			width: 15rem;
			height: 4rem;
			font-size: 1.7rem;
		}

		&:hover {
			background-color: #d50000;
		}
	}
}

.wine-bottle {
	opacity: 0.6;
	width: 80rem;

	@include respond(x-large) {
		width: 65rem;
	}

	@include respond(large) {
		width: 60rem;
	}

	@include respond(laptop) {
		width: 50rem;
	}
}
